body{
  background-color: #354690;
  height: 100vh;
  overflow: hidden;
  font-family: 'Slabo 27px', serif;
}

.fa-snowflake{
  color: #ffffff;
  position: absolute;
  top: 0px;
  animation: snow_animation linear forwards;
}

#display-date{
  position: relative;
  z-index: 1;
  color: #ffffff;
  text-align: center;
  font-size: 2.5rem;
  width: 60%;
  margin: 0 auto;
  margin-top: 40vh;
  padding: 2rem 2.5rem;
  border: 1px solid black;
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 4px;
}

.container{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.number{
  font-size: 4.5rem;
}

.unit{
  font-size: .8rem;
  color: #666;
  text-transform: uppercase;
  font-weight: bold;
}

.col{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@keyframes snow_animation {
  to {
    transform: translateY(105vh);
  }
}